@model ShuaBets.WebUI.Models.Exclusive.ExclusiveListViewModel
@{
    ViewBag.Title = "Past Tips";
    string companyName = Settings.COMPANY_NAME;
    bool isAdmin = User.IsInRole("Admin") || User.IsInRole("Developer");
}

 <!--Inner Banner Start-->
<div class="sub-banner rgb-overlay theme-border">
    <div class="container">
        <h3>@ViewBag.Title</h3>

        <ul class="breadcrumb">
            <li class="item-home">

                @if (isAdmin)
                {
                    <h4 style="color:white">Quick Statistics</h4>
                }
                else
                {
                    <h4 style="color:white">Past Tips</h4>
                    @Html.Bootstrap().ActionLink("Back", "Index", "HomeAdmin").HtmlAttributes(new { title = "Homepage", @class = "bread-link bread-home" })
                }


            </li>
        </ul>

    </div>
</div>
<!--Inner Banner End-->

                <section>
                    <div class="container" style="overflow-x:scroll">
                        <!--Section Title Start-->
                        <h4 class="section-title border-top">
                            <span class="rgb-label theme-background">
                                <i class="lnr lnr-chart-bars"></i>
                            </span>
                            Past Exclusive Tips.

                        </h4>
                        <!--Section Title End-->
                        <div class="rgb-fixture-flilter-wrap">

                            @Html.Partial("Partials/_SearchExclusiveTips", Model.SearchModel)

                        </div>


                            <div class="rgb-upcoming-fixture-wrap rgb-upcoming-fixture1 margin-bottom30">
                                <!--Upcoming Fixture Start-->
                                <table class="rgb-table-3 text-center table-responsive">
                                    <tr class="table-head darkgray-bg-head">

                                        <th>
                                            <span>Date / Time</span>
                                        </th>
                                        <th>
                                            <span>Teams</span>
                                        </th>

                                        <th>
                                            <span>Tip</span>
                                        </th>

                                        <th>
                                            <span>Result</span>
                                        </th>

                                        <th>
                                            <span>League</span>
                                        </th>

                                        <th>
                                            <span>Status</span>
                                        </th>


                                    </tr>


                                    @if (Model.ExclusiveTips.Count() > 0)
                                    {
                                        foreach (var item in Model.ExclusiveTips)
                                        {
                                                var css = item.GetStatusCssClass();
                                                ButtonStyle button_css = ShuaBets.WebUI.Infrastructure.Helpers.ExclusiveTipHelper.GetButtonStyle(css);

                                                <tr class="@css">

                                                    <td>
                                                        <div style="color:red">
                                                            <p>@item.Date</p>
                                                        </div>                                                       
                                                    </td>

                                                    <td>

                                                        <!--Table Team opponanet Start-->
                                                        <div class="tb-opponanet-contant">
                                                            <!--Team 1 Start-->
                                                            <div class="tb-team-1">

                                                                <div style="color:red">
                                                                    @item.HomeTeam
                                                                </div>

                                                            </div>
                                                            <!--Team 1 End-->
                                                            <div class="text">VS</div>
                                                            <!--Team 2 Start-->
                                                            <div class="tb-team-2">

                                                                <div style="color:red">
                                                                    @item.AwayTeam
                                                                </div>

                                                            </div>

                                                            <!--Team 1 End-->
                                                        </div>
                                                        <!--Table Team opponanet End-->
                                                    </td>

                                                    <td>
                                                        <div style="color:green">
                                                            @item.Tip
                                                        </div>

                                                    </td>

                                                    <td>
                                                        <div style="color:blue">
                                                            @(string.IsNullOrEmpty(item.Result) ? "Not Played Yet" : item.Result)
                                                        </div>

                                                    </td>

                                                    <td>
                                                        @item.League.Name
                                                    </td>

                                                    <td>

                                                        @if (item.Status.ToString() == "Correct")
                                                        {
                                                            <div style="color:green">
                                                                @item.Status
                                                            </div>
                                                        }
                                                        else
                                                        {
                                                            <div style="color:red">
                                                                @item.Status
                                                            </div>
                                                        }

                                                    </td>

                                                </tr>

                                    
                                        }
                                    }
                                    else
                                    {
                                        <tr>
                                            <td colspan="6">There are no records matching your search criteria</td>
                                        </tr>
                                    }

                                </table>


                                <!--Upcoming Fixture End-->
                            </div>

                      

                        <div class="clearfix">
                            <div class="pull-right">
                                <div class="pagination-panel">
                                    <div class="pagination-labels">@Model.PagingInfo.ItemsFrom to @Model.PagingInfo.ItemsTo of @Model.PagingInfo.TotalItems Tips</div>
                                    @Html.PageLinks(Model.PagingInfo, x => Url.Action("Index", new { page = x }))
                                </div>
                            </div>
                        </div>

                    </div>
                </section>

