@model ShuaBets.WebUI.Models.Account.ResetPasswordViewModel
@{
    ViewBag.Title = "Reset Password";

    string fullName = ViewBag.FullName;
    string fullName_panel = @"<div class=""form-control-static"">" + ViewBag.FullName + "</div>";
    string userId = ViewContext.RouteData.Values["id"].ToString();
}

<!--Inner Banner Start-->
<div class="sub-banner rgb-overlay theme-border">
    <div class="container">
        <h3>@ViewBag.Title</h3>

        <ul class="breadcrumb">
            <li class="item-home">

                @Html.Bootstrap().ActionLink("Back", "Index", "Users").HtmlAttributes(new { title = "Homepage", @class = "bread-link bread-home" })
            </li>


        </ul>

    </div>
</div>
<!--Inner Banner End-->

<div class="rgb-content-wrap">
    <!--Blog Detail Page Start-->
    <section class="contactus-page">
        <div class="container">
            <div class="row">

           
                    <div class="col-md-12">

                        @using (var f = Html.Bootstrap().Begin(new Form()))
                        {
                            <div class="container">
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary(true)
                                @Html.HiddenFor(m => m.PhoneNumber)
                                <div class="row">
                                    <div class="col-md-4">
                                        <aside class="panel-summary">
                                            <h3>User details</h3>
                                            <dl class="dl-horizontal">
                                                <dt>Full name</dt>
                                                <dd>@fullName</dd>
                                            </dl>
                                        </aside>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="form-light-bg">
                                            <h3 class="form-heading">Change Password</h3>
                                            <div class="alert alert-warning">
                                                Password must contain at least one uppercase character and one number

                                            </div>
                                            @f.FormGroup().PasswordFor(m => m.Password).Placeholder("Enter new password")
                                            @f.FormGroup().PasswordFor(m => m.ConfirmPassword).Placeholder("Confirm new password")
                                            <div class="form-group form-group-submit">
                                                @Html.Bootstrap().SubmitButton().Style(ButtonStyle.Success).ButtonBlock().Text("Reset Password").AppendIcon("glyphicon glyphicon-thumbs-up")
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }

                    </div>

                </div>
        </div>
    </section>
</div>
